<mat-toolbar class="toolbar" color="primary">
  <div *ngIf="profileName; else signInBlock" class="toolbar-content">
    <button
      mat-icon-button
      aria-label="Back"
      *ngIf="inDetail | async"
      (click)="onBack()"
    >
      <mat-icon class="back-icon">arrow_back</mat-icon>
    </button>
    <span class="greeting">Hi, {{ profileName?.split(" ")[0] }}</span>
    <span class="version">{{ version }}</span>
  </div>

  <ng-template #signInBlock>
    <div class="signin-block">
      <button mat-button class="sign-in-button" (click)="onSignIn()">
        Sign In
      </button>
      <span class="version">{{ version }}</span>
    </div>
  </ng-template>
</mat-toolbar>
