.toolbar {
  background-color: #d7e3ff;
}

.toolbar-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.greeting {
  font-size: 1.2rem;
  color: black; /* or black depending on theme */
}

.sign-in-button {
  color: black !important;
}

.back-icon {
  color: black !important;
}

.version {
  margin-left: auto;
  color: black;
  font-size: small;
}

.signin-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
