.add-note-button {
  position: fixed;
  bottom: 70px;
  right: 24px;
  z-index: 500;
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
  padding: 0 !important;
  background-color: yellowgreen;
  color: black !important;
  border: none !important;
}

.upload-note-button {
  position: fixed;
  bottom: 70px;
  right: 100px;
  z-index: 500;
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
  padding: 0 !important;
  background-color: yellowgreen;
  color: black !important;
  border: none !important;
}

:host {
  background-color: transparent; /* Or inherit if needed */
}
