<app-toolbar />
<app-loading [show]="(loading | async) || false" />
<div *ngIf="SignedIn | async">
  <div *ngIf="!(InDetail | async)">
    <note-list (noteId)="onNoteSelected($event)" />
    <button class="upload-note-button" (click)="onUpload()">
      <mat-icon>backup</mat-icon>
    </button>
    <button class="add-note-button" (click)="onSave()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngIf="InDetail | async"><note [noteId]="noteId" /></div>
  <input
    type="file"
    #fileInput
    multiple
    accept=".txt"
    style="display: none"
    (change)="onFileSelected($event)"
  />
</div>
