<app-loading [show]="loading" />
<div class="card-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title class="note-title">
        <input
          type="text"
          placeholder="Note Title"
          [value]="noteId"
          (input)="onNoteIdUpdate($event)"
          class="note-title-input"
        />
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="note-content">
        <textarea
          type="text"
          placeholder="Note content"
          [value]="noteContent"
          (input)="onContentChange($event)"
          class="note-content-input"
          rows="10"
        ></textarea>
      </div>
    </mat-card-content>
    <mat-card-actions class="note-actions">
      <button mat-button [disabled]="disabledSave" (click)="onSave()">
        <mat-icon>add_to_drive</mat-icon>
        Save
      </button>
      <button
        mat-button
        [disabled]="!(noteId && noteId !== '')"
        (click)="onDelete()"
      >
        <mat-icon>delete</mat-icon>
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
