.card-container {
  padding: 1rem;
}

.note-title-wrapper {
  width: 100%;
}

.note-title-input {
  width: 100%;
  display: block;
  font-size: 24px;
  font-weight: 600;
  border: none;
  background-color: #101414;
  color: white;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
}

.note-content {
  padding-left: 8px;
  padding-top: 5px;
  font-family: Roboto, sans-serif;
}

.note-content-input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border: none;
  background-color: #101414;
  color: white;
  outline: none;
  font-family: Roboto, sans-serif;
  resize: none;
  padding: 8px;
  box-sizing: border-box;
}

.note-actions {
  display: flex;
  justify-content: flex-end;
}
