.card-container {
  padding: 1rem;
}

.note-title-input {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  border: none;
  background-color: #101414;
  outline: none;
}

.note-content {
  padding-left: 8px;
  padding-top: 5px;
  font-family: roboto;
  height: 60vh;
}

.note-content-input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border: none;
  background-color: #101414;
  outline: none;
  font-family: roboto;
}

.note-actions {
  display: flex;
  justify-content: flex-end;
}

.note-title {
  padding: 8px;
}
